{{define "component"}}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>
<main class="flex-grow-1 d-flex align-items-center justify-content-center">
		<div class="row justify-content-center w-100">
			<div class="col-12 col-md-6 col-lg-4">
				<h2 class="mb-3">Login</h2>
				<form action="/login" method="post">
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input
							type="text"
							class="form-control"
							id="email"
							placeholder="johndoe@domain.com"
						/>
					</div>
					<div class="mb-3">
						<label for="password" class="form-label"
							>Password</label
						>
						<input
							type="text"
							class="form-control"
							id="password"
							placeholder="Please enter your password..."
						/>
					</div>
					<div class="mb-3 form-check">
						<input
							class="form-check-input"
							type="checkbox"
							id="rememberMe"
						/>
						<label class="form-check-label" for="rememberMe">
							Remember me
						</label>
					</div>
					<button type="submit" class="btn btn-primary">
						Log in
					</button>
				</form>
			</div>
		</div>
	</main>
</html>
{{end}}
