{{define "changePassword"}}
<div class="flex-grow-1 d-flex align-items-center justify-content-center" id="passwordBox">
  <div class="row justify-content-center w-100">
    <div class="col-12 col-md-6 col-lg-4">

      <h2 class="mb-3">Change your password</h2>

      {{ with index .errors "_form" }}
        <div class="alert alert-danger">{{ . }}</div>
      {{ end }}

      {{ if .succ }}
        <div class="alert alert-success" role="alert">
          {{ .succ }}
        </div>
      {{ end }}

      <form
        method="POST"
        hx-post="/settings/password"
        hx-target="#passwordBox"
        hx-swap="outerHTML"
        novalidate
      >
        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <input
            type="password"
            class="form-control {{ if index .errors "password" }}is-invalid{{ end }}"
            id="password"
            name="password"
            placeholder="Please enter your new password..."
          >
          {{ with index .errors "password" }}
            <div class="invalid-feedback">{{ . }}</div>
          {{ end }}
        </div>
        <div class="mb-3">
          <label for="rePassword" class="form-label">Repeat Password</label>
          <input
            type="password"
            class="form-control {{ if index .errors "rePassword" }}is-invalid{{ end }}"
            id="rePassword"
            name="rePassword"
            placeholder="Please enter your new password again..."
          >
          {{ with index .errors "rePassword" }}
            <div class="invalid-feedback">{{ . }}</div>
          {{ end }}
        </div>
        <button type="submit" class="btn btn-primary w-100">Change Password</button>
      </form>

    </div>
  </div>
</div>
{{end}}
